* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

/* Aca empieza a estilar JADE */
.main {
    top: 0;
    background-color: #A4907C;
    color: aliceblue;
    width: 100%;
    height: 70px;
    padding-bottom: 5px;
}


@media(min-width:1200px){
    .main{
        overflow: hidden;
    }
}

@media(max-width:500px){
    header{
        overflow: hidden;
    }
}



.sidebar:hover{
    right: 0;
}


nav{
    box-shadow: 0px 0px 100px black;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.icon p {
    font-size: 30px;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 12px;
}
.icon img {
    margin-top: 22px;
}
/* .icon i {
    margin-top: 34px;
    font-size: 35px;
    margin-right: 10px;
} */
.hamburger-menu, .sidebar {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --bar-width: 35px ;
    --bar-height: 8px;
    --hamburger-gap: 5px;
    --foreground: #333;
    --background: white;
    --animation-timing: 200ms 

}
.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: relative;
    left: 40%;
    top:18px;
    z-index: 2;
    cursor: pointer;
}
.hamburger-menu::before,
.hamburger-menu input, 
.hamburger-menu::after {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 99px;
    
}
.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
.sidebar {
transition: translate var(--animation-timing);
    translate: 100%;
    z-index: 2;
    position: relative;
    font-family: 'Ysabeau SC', sans-serif;
    margin-top: 70px;
    margin-right: 0%;
    background-color:#51351c ;
    border-radius: 2%;
    padding: 10% 10% 15% 10%;
    right: 0%;

}
.sidenav {
display: flex;
flex-direction: column;
gap: 20px;
}

.sidenav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12%;
    
}
.sidenav div i {
    font-size: 15px;
    margin-left: 15px;
    
}
.sidenav div a {
    text-decoration: none;
    color: aliceblue;
}
.sidebar div a:hover {
    color: #bb7433;
}
.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;

}
.contacts {
    display: flex;
    align-items: center;
    margin-right: 4%;
}

.contacts p {
    margin: 50px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.contacts i {
    font-size: 30px;
    margin-left: 24px;
}
.contacts a {
    text-decoration: none;
    color: aliceblue;
}
.contacts a:hover {
    color: #bb7433;
}
.hero{
    height: 700px;
    width: 100%;
    background-image: url(Images/Crane\ Wives\ -\ Folk.jpg);
    background-size: cover;
}
.hero h2 {
    font-weight: 500;
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
    color: #0d4069;
    position: relative;
    
    top: 21%;
    left: 5%;
    width: fit-content;
    height: fit-content;
    }
.hero p {
    font-weight: 400;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    color: #071064;
    position: relative;
    top: 18%;
    left: 25%;
    width: fit-content;
    height: fit-content;

}
/* Aca empieza a estilar IGNACIO */

.artistas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media(max-width:500px){
    .artistas{
        flex-wrap: wrap;
        padding: 20px;
        gap: 20px;
    }

    .disco img{
        height: 100px;
        width: 100px;
    }
}

@media(min-width:500px){
    .disco img{
        height: 180px;
        width: 180px;
        
    }
}


.disco{
    overflow: hidden;
    
    position: relative;
    cursor: pointer;
    overflow: hidden;
}





.disco-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4754;
    backdrop-filter: blur(5px);
    
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.disco-titulo{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.disco-subtitulo{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.disco-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.section1 h1, .section2 h1{
    text-align: center;
    
    text-decoration: underline #bb7433;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(10, 10, 10);
}



.main-1{
    background-color: #db934f;
    border: 2px solid rgb(10, 10, 10);
}

.container-1{
    border: 1px solid rgb(10, 10, 10);
}

.disco:hover .disco-body{
    right: 0;
}


/* 
parte galeria */

.galeria{
    display: flex;
}

@media(max-width:500px){
    .galeria img{
        height: 10%;
        width: 50%;
    }
}

@media(min-width:1200px){
    .galeria img{
        height: 10%;
        width: 50%;
    }
}


/* parte de cards */


.section2 h1{
    text-align: center;
    text-decoration: underline #bb7433;
    margin-top: 70px;
}

.container-cards, .container-2, .container-3{
    display: grid;
    gap: 1rem;
    grid-auto-rows:22rem;
    grid-template-columns:repeat(auto-fill, minmax(15rem, 1fr));
    margin-top: 60px;
}




.boton{
    margin-left: 43%;
    padding: 10px 60px;
    border: 5px solid rgb(131, 90, 3);
    background-color: #bb7433;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.carrd img{
    height: 200px;
    width: 200px;
}



.carrd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Aca empieza a estilar LUCA - Seccion FORMULARIO */
.formulario-contenedor {
    width: 100%;
    padding: 4rem 2rem;
    background-color: #f5f5f5;
}

.formulario-contenedor_titulo {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
}

.formulario-contenedor_titulo h3 {
    font-size: 2rem;
    margin-bottom: 0;
    text-decoration: underline #A4907C;
}

.formulario-contenedor_formulario {
    width: 100%;
}

.formulario-contenedor_formulario form {
    width: 100%;
    padding: 2rem;
    background-color: #A4907C;
    border-radius: 10px;
    box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.7);
}

.formulario-grupo {
    width: 100%;
    margin-bottom: 1rem;
}

.formulario-grupo label {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: .5rem;
}

.formulario-grupo input{
    width: 100%;
    text-indent: 1rem;
    padding: .5rem .5rem .5rem 0;
    border: none;
    outline: none;
    border-radius: .5rem;
}

.formulario-grupo_Mensaje {
    width: 100%;
    margin-bottom: 2rem;
}

.formulario-grupo_Mensaje label {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: .5rem;
}

.formulario-grupo_Mensaje textarea {
    width: 100%;
    height: 4rem;
    padding: .5rem .5rem .5rem 1rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    resize: none;
}

.formulario-grupo_botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formulario-grupo_botones button {
    padding: .6rem 1.2rem;
    border: none;
    border-radius: .5rem;
    background-color: #f5f5f5;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
}

.formulario-grupo_botones button:hover {
    transform: scale(1.1);
}

/* Seccion FOOTER */
footer {
    width: 100%;
    padding: 2rem;
    background-color: #202120;
}

footer p {
    margin-bottom: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
}