* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aca empieza a estilar JADE */
.main {
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: #A4907C;
    color: aliceblue;
    width: 100%;
    height: 70px;
    padding-bottom: 5px;

}

nav{
    box-shadow: 0px 0px 100px black;
}

.icon {
    display: flex;
    align-items: center;
    right: 0%;
}
.icon p {
    font-size: 30px;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: 600;
    margin-top: 5px;
}
.icon img {
    margin-top: 22px;
}


form {
    display: flex;
}

.contacts {
display: flex;
    align-items: center;
    margin-right: 4%;
}

.contacts p {
    margin: 50px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.contacts i {
    font-size: 30px;
    margin-left: 24px;
}
.contacts a {
    text-decoration: none;
    color: aliceblue;
}
.contacts a:hover {
    color: #bb7433;
}
.hero{
    height: 700px;
    width: auto;
    background-image: url(Images/Crane\ Wives\ -\ Folk.jpg);
    background-position: left 28%;
}
.hero h2 {
    font-weight: 500;
    font-size: 80px;
    font-family: 'Roboto Slab', serif;
    color:#0d4069 ;
    position: relative;
    top: 28%;
    left: 10%;
    width: fit-content;
    height: fit-content;
}
.hero p {
    font-weight: 400;
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    color: #071064 ;
    position: relative;
    top: 27%;
    left: 19%;
    width: fit-content;
    height: fit-content;

}
/* Aca empieza a estilar IGNACIO */

.artistas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section1{
    height: 500px;
    padding-top:150px; ;
}

.section1 h1{
    text-align: center;
    margin-bottom: 60px;
    text-decoration: underline #bb7433;
}

.section1 img{
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 100px black;
    position: relative;
}

.section1 img:hover{
    transform: scale(1.4);
    margin: 0px 50px;
    transition: 0.9s;
}



/* Aca empieza a estilar LUCA */